<html>
  <head>
    <link rel="stylesheet" href="../styles.css">
    <title>Message Details</title>
  </head>
  <body>
    <h1>Message Details</h1>
    <p>User: <%= message.user %></p>
    <p>Text: <%= message.text %></p>
    <p>Added: <%= message.added %></p>
    
    <a href="/">Back to homepage</a>
  </body>
</html>
